storeFile=android/app/my-release-key.jks
storePassword=VOTRE_MOT_DE_PASSE_STORE
keyAlias=VOTRE_ALIAS
keyPassword=VOTRE_MOT_DE_PASSE_CLE

# Copiez ce fichier en "keystore.properties" (à la racine du projet)
# et remplacez les valeurs par vos vraies infos.
# Ne commitez PAS le fichier "keystore.properties" dans Git.

